/* ---------------------------------------------------------
  SVG Manipulation - geht nur, wenn die SVGs "inline" sind,
  nicht bei URLs
.icon { fill: #800000 !important; }
*/
/*
.link>.ipsIconPaintbrush {
  background-image: url('icons_colored/Paintbrush.svg');
}
.link>.ipsIconGraph {
  background-image: url('icons_colored/Graph.svg');
}
*/

/* -------------------------
   Globale Einstellungen
   ------------------------- */
/* Logo austauschen */
.ipsLogin > .logo {
	background-image: url(logo.svg);
}

/* Farbe verändern */
.ipsLogin,
.ipsWebFront {
	background-color: #555555;
}

.ipsTabPane > .navigation ,
.ipsContentChanger > .navigation {
	background-color: #111111;
}

/* Statuszeile, wird an der height mit 34 px erkannt */
.bottom[style*="height: 34px;"] .navigation
{
  box-shadow: 0 0 2px rgba(255,255,255,0.24);
  background: #111111/*bca*/;
}
