/* ---------------------------------------------------------
  SVG Manipulation - geht nur, wenn die SVGs "inline" sind,
  nicht bei URLs
.icon { fill: #800000 !important; }
*/
/*
.link>.ipsIconPaintbrush {
  background-image: url('icons_colored/Paintbrush.svg');
}
.link>.ipsIconGraph {
  background-image: url('icons_colored/Graph.svg');
}
*/

/* -------------------------
   Globale Einstellungen
   ------------------------- */
